<h2><%= l :sidekiq %></h2>
<h3>Sandbox</h3>

<hr>

<h4>Stats</h4>

<div class="box">stats = Sidekiq::Stats.new</div>

<p>Gets the number of jobs that have been processed.</p>
<div class="box">stats.processed # => <%= @stats.processed %></div>

<p>The number of jobs that have failed.</p>
<div class="box">stats.failed # => <%= @stats.failed %></div>

<p>The queues with name and number enqueued.</p>
<div class="box">stats.queues # => <%= @stats.queues %></div>

<p>The number of jobs enqueued in all queues (does NOT include retries and scheduled jobs).</p>
<div class="box">stats.enqueued # => <%= @stats.enqueued %></div>

&nbsp;

<h4>Jobs</h4>

<p>The standard.</p>
<div class="box"><%= link_to('perform_async(*args)', sidekiq_sandbox_perform_async_path, method: :post) %></div>

<p>The Scheduled Jobs by interval.</p>
<div class="box"><%= link_to('perform_in(interval, *args)', sidekiq_sandbox_perform_in_path(interval: 1), method: :post) %></div>

<p>The Scheduled Jobs by timestamp.</p>
<div class="box"><%= link_to('perform_at(timestamp, *args)', sidekiq_sandbox_perform_at_path(interval: 1), method: :post) %></div>

<p>The job will fail.</p>
<div class="box"><%= link_to('perform_async()', sidekiq_sandbox_perform_async_path(name: :failed), method: :post) %></div>
